.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 170px;
}

img {
  background: lightgray;
  background: var(--tg-theme-button-color);
  width: 100px;
  height: 100px;
  padding: 10px;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}